{% extends 'include/base_login_logout.html' %}
{% block content %}
    <form action="" autocomplete="on" method="POST">
        <h1> Sign up </h1>
        {% csrf_token %}
        {% for fields in form %}
            {{fields.label}}
            {{fields}}
        {% endfor %}
        <p class="signin button">
            <input type="submit" value="Sign up" />
        </p>
        <p class="change_link">
            Already a member ?
            <a href="/login/" class="to_register"> Go and log in </a>
        </p>
    </form>
{% endblock %}
                            