{% extends 'include/base_nav.html' %}
{% load static %}
{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="{% static '../static/img/bg5.jpg' %}" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <img class="avatar border-gray" src="{% static '../static/img/mike.jpg' %}" alt="Picture of a person">
                <hr>
                {% if profile %}
                  <span><span class="font-weight-bold">Name:</span> {{profile.first_name}} {{profile.last_name}} <span class="font-weight-bold">Age:</span> {{profile.age}} </span><hr>
                  <span class=""><span class="font-weight-bold">Email: </span>{{request.user.email}}</span><hr>
                  <span class=""><span class="font-weight-bold">Address: </span>{{profile.address}}</span><hr>
                  <span><span class="font-weight-bold">Country:</span> {{profile.country}} <span class="font-weight-bold">City/State:</span> {{profile.city}} </span><hr>
                  <span class=""><span class="font-weight-bold">Bio: </span>{{profile.about_me}}</span>
                  {% else %}
                    <span><h4>{{request.user}}</h4> You have not updated your profile</span>
                {% endif %}
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="input-container">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-6 ml-auto">
                  <h5>12
                    <br>
                    <small><b>Litter</b></small>
                  </h5>
                </div>
                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                  <h5><b>₦</b>145
                    <br>
                    <small><b>Price</b></small>
                  </h5>
                </div>
                <div class="col-lg-5 mr-auto">
                  <h5><b>₦</b>20000
                    <br>
                    <small><b>Spent</b></small>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <form action="" autocomplete="on" method="POST">
              {% csrf_token %}
              {% for i in form %}
                <span class="p-2">{{i}}</span>
              {% endfor %}
              <input type="submit" class="btn btn-primary btn-round" value="Update"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}